body { 
  margin: 0;
  font-family: InputMono, "Cascadia Mono", Courier, monospace;
  background: blue;
}

.tab-bar {
  width: 100vw;
  height: 50px;
  background:lightblue;

  box-sizing: border-box;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  font-size: 16px;
  gap: 5px;
  margin-bottom: 200px;
}

.tab-bar :first-child {
  background: blue;
}

.tab {
  min-width: 50px;
  max-width: 250px;
  background:lightblue;
  width: 100%;

  display: flex;
  border-radius: 10px 10px 0 0;
  align-items: center;
  justify-content: center;
}

.tab button {
  width: 30px;
  height: 30px;
  position: relative;
  left: 30%;
}

.footer {
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:gray;
  position: sticky;
  bottom: 0;
  font-size: 24px;
}

.guide {
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
}

.decor {
  display: flex;
  gap: 30px;
}

